<ion-view view-title="main module">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
<div class="container slider">
    <img ng-repeat="card in ctrl.wizard.cards" class="card slide-animation nonDraggableImage"
         ng-swipe-right="ctrl.wizard.nextSlide()" ng-swipe-left="ctrl.wizard.prevSlide()"
         ng-hide="!ctrl.wizard.isCurrentSlideIndex($index)" ng-src="ctrl.wizard.slide.image" >
      
     
    <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
    <a class="arrow next" href="#" ng-click="prevSlide()"></a>
    <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="card in ctrl.wizard.cards">
                    <a href="#" ng-class="{'active':ctrl.wizard.isCurrentSlideIndex($index)}"
                       ng-click="ctrl.wizard.setCurrentSlideIndex($index);">{{card.content}}</a></li>
            </ul>
        </div>
    </nav>
</div>

  </ion-content>
</ion-view>
