<ion-view view-title="wizard module">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <img ng-repeat="card in ctrl.cards" class="card slide-animation nonDraggableImage"
         on-swipe-right="ctrl.nextSlide()" on-swipe-left="ctrl.prevSlide()"
         ng-hide="!ctrl.isCurrentSlideIndex($index)" ng-src="{{card.image}}" >
      
     
    <a class="button icon-left ion-chevron-left button-clear button-dark" href="#" ng-click="nextSlide()"></a>
    <a class="button icon-left ion-chevron-right button-clear button-dark" href="#" ng-click="prevSlide()"></a>
    <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="card in ctrl.cards">
                    <a href="#" ng-class="{'active':ctrl.isCurrentSlideIndex($index)}"
                       ng-click="ctrl.setCurrentSlideIndex($index);">{{card.content}}</a></li>
            </ul>
        </div>
    </nav>


  </ion-content>
</ion-view>
