<ion-tabs class="tabs-icon-top tabs-assertive">

  <!-- List Tab -->
  <ion-tab title="List" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"
    ui-sref="main.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <!-- Wizard Tab -->
  <ion-tab title="Wizard" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
    ui-sref="main.wizard">
    <ion-nav-view name="tab-wizard"></ion-nav-view>
  </ion-tab>
  
    <!-- User Tab -->
  <ion-tab title="User" icon-off="ion-ios-person-outline" icon-on="ion-ios-person"
    ui-sref="main.user">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>

</ion-tabs>
